<section class="has-text-centered hero is-danger is-bold">
        <section class="spacer"></section>
        <p class="title">Find out what's latest!</p>
        <section class="spacer"></section>
    </section>
    <section class="spacer"></section>
<div class="level">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="src/app/images/pasta1.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="tag is-info">
                            Recipe
                        </span>
                        <div class="card-header-title">
                            Smoky maple pork belly
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card ">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="src/app/images/food1.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="tag is-success">
                            Blog
                        </span>
                        <div class="card-header-title">
                            Smoky maple pork belly
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="src/app/images/food.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="tag is-info">
                            Recipe
                        </span>
                        <div class="card-header-title">
                            Smoky maple pork belly
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="level">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="src/app/images/pasta1.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <span class="tag is-info">
                                Recipe
                            </span>
                            <div class="card-header-title">
                                Smoky maple pork belly
                            </div>
    
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card ">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="src/app/images/food1.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <span class="tag is-success">
                                Blog
                            </span>
                            <div class="card-header-title">
                                Smoky maple pork belly
                            </div>
    
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="src/app/images/food.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <span class="tag is-info">
                                Recipe
                            </span>
                            <div class="card-header-title">
                                Smoky maple pork belly
                            </div>
    
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="level">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="src/app/images/pasta1.jpg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <span class="tag is-info">
                                    Recipe
                                </span>
                                <div class="card-header-title">
                                    Smoky maple pork belly
                                </div>
        
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card ">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="src/app/images/food1.jpg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <span class="tag is-success">
                                    Blog
                                </span>
                                <div class="card-header-title">
                                    Smoky maple pork belly
                                </div>
        
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="src/app/images/food.jpg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <span class="tag is-info">
                                    Recipe
                                </span>
                                <div class="card-header-title">
                                    Smoky maple pork belly
                                </div>
        
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>