<div class="navbar is-fixed-top ">
    <div class="navbar-brand">
        <a href="" class="navbar-item">
            <img src="src/app/images/luxus-logo.png" alt="luxus logo">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item is-tab">Recipes</div>
            <div class="navbar-item is-tab">Seasonal</div>
            <div class="navbar-item is-tab">Blog</div>
            <div class="navbar-item is-tab">Contact</div>
            <div class="navbar-item is-tab">Search</div>
        </div>
    </div>
</div>
<section class="hero is-primary is-fullheight header-background">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 is-capitalized">
                It is time to unlock your <br> creativity<br>
                <hr style="width: 25%; margin-top: 1em; margin-bottom: 1em">
            </h1>
            <h2 class="subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Enim voluptatibus neque id officia nulla magni,
                atque odit <br> placeat repellendus ullam sint eius suscipit harum obcaecati <br> animi tempora labore explicabo
                earum.
            </h2>

        </div>
    </div>

</section>

<section class="spacer"></section>

<section>
    <div class="level">
        <div class="level-item  ">
            <p class="subtitle">Browse by:</p>
        </div>
        <div class="level-item">
            <div class="select is-danger is-rounded is-medium is-fullwidth">

                <select class="multiple" (change)="navigateTo($event.target.value)">
                    <option value="all">All</option>
                    <option value="mealtype">Meal Type</option>
                    <option value="">Ingredients</option>
                    <option value="worldcuisine">World Cuisine</option>
                    <option value="">Cooking Style</option>
                </select>
            </div>
        </div>
        <div class="level-item"></div>
    </div>
</section>

<section class="spacer"></section>

<router-outlet></router-outlet>

<section class="spacer"></section>


<footer class="footer is-info">

    <div class="columns">
        <div class="column is-one-quarter">
            <figure class="image is-128x128">
                <img src="src/app/images/luxus-logo.png" alt="">
            </figure>
        </div>
        <div class="column" style="text-align: center">
            Results through design and technology<br>
            <strong>Luxus</strong> Demo by Ejiro Lennox Akpoduado
        </div>
        <div class="column" style="text-align: right">
            <i class="fa fa-facebook-official" aria-hidden="true" style="padding-right: 1em"></i>
            <i class="fa fa-twitter" aria-hidden="true" style="padding-right: 1em"></i>
            <i class="fa fa-linkedin-square" aria-hidden="true" style="padding-right: 1em"></i>
            <i class="fa fa-youtube-play" aria-hidden="true" style="padding-right: 1em"></i>
        </div>
    </div>

</footer>